@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Pagina realizada con principios Mobile First*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: inherit;
    color: #fbfbfb;
}

main {
    max-width: 1200px;
    margin: auto;

}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    background-image: url(../img/fondo.jpg);

}

h1 {
    font-size: 36px;
    text-align: center;
    color: #fbfbfb;

}

h2 {
    color: #fbfbfb;
    font-size: 28px;

}

p {
    margin: 20px;
    text-align: center;
    color: #fbfbfbe7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    position: fixed;
    width: 100%;
    height: 90px;
    box-shadow: 0px 3px 19px -5px grey;
    padding: 16px;


}

.logo {
    width: 70px;
    border-radius: 75px;
    height: 75px;
    display: flex;
    justify-content: left;
}

.menu {
    display: flex;
    font-size: 20px;
}

.menu li a {
    padding: 16px;
}

.menu li a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
    padding-top: 120px;

}

.foto img {
    width: 100%;
    height: 620px;
    border-radius: 80px;
    border: solid 3px whitesmoke;

}

.presentacion {
    text-align: center;
    width: 100%;
    background-color: rgba(48, 5, 38, 0.658);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px whitesmoke;
    margin-top: 30px;

}

.btn-CV {
    font-size: 20px;
    background-color: rgba(255, 255, 0, 0.76);
    border-radius: 40px;
    margin-top: 16px;
    padding: 12px 20px;
    font-weight: 700;
    color: black
}

.btn-CV:hover {
    background-color: rgba(175, 89, 158, 0.3);
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}

.contacto {
    text-align: center;
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 0px 15px 0px 15px;
    border: solid 1px whitesmoke;

}

.botones {
    text-align: center;
}


.png {
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10px;
    width: 25%;
    margin: 35px;
}

footer {
    height: 90px;
    width: 100%;
    background-color: #000000c4;
}

footer p {
    color: rgba(255, 255, 0, 0.76);
    text-align: center;
    padding: 30px;

}

.active {
    background-color: rgba(245, 255, 255, 0.493);
    border-radius: 4px;
}


/*REVISADO!!
 QUERY PARA Desktop*/
@media (min-width:1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
    }

    h2 {
        font-size: 38px;
    }

    #inicio {
        flex-direction: row;
    }

    .menu li a {
        font-size: 27px;
    }

    .presentacion {
        width: 55%;
        text-align: left;
        margin-left: 20px;
    }

    .presentacion p {
        text-align: left;
        font-size: 24px;
    }

    .btn-CV {
        font-size: 30px;

    }

    .contacto p {
        font-size: 30px;

    }

    footer {
        height: 120px;
        width: 100%;
    }

    footer p {
        font-size: 38px;

    }

    img {
        
        width: 20%;
        padding: 15px;
    }

    .botones {
        width: 75%;
    }

    .logo {
        width: 110px;
        height: 100px;
        border-radius: 25px;
    }

}